/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	text-decoration: none;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

button {
	background-color: white;
	font-family: futura-pt-bold, sans-serif-bold;
	text-transform: uppercase;
	color: #93c9d3;
	border: none;
	padding: 20px;
	font-size: 20px;
	display: flex;
	flex-basis: 1;
	cursor: pointer;
}

button:hover {
	color: #e8d4d4;
	cursor: pointer;
}
	
h1{
	color: white;
	text-transform: uppercase;
	padding-top: 250px;
	font-size: 75px;
	float: left;
	width:100%;
}	

h2{
	color: white;
	text-transform: uppercase;
	font-size: 64px;
	width: 100%;
	display: block;
	justify-content: center;
	text-align: center;
	padding: 150px 0 60px 0;
	
}

p {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: white;
	font-size: 24px;
	text-align: center;
	padding-bottom: 50px;
}

	






.bullets {
    list-style-type: square;
	color: white;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	padding-bottom: 50px;
}

.center {
	display: flex;
   	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	margin: auto;
	align-items: center;
}

.child {
	padding-top: 50px;
}

.container {
  position: relative;
  width: 20%;
  margin: auto;
  padding: 1% 0 1% 0;
}

.container:hover .overlay {
  opacity: 1;
}

.figcaption{
	font-size: 32px;
	color: #93c9d3;
	text-transform: uppercase;
	text-align: center;
	font-family: futura-pt-bold, sans-serif;
}

.flex-parent {
	display: flex;
	width: 90%;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.float {
	float: left;
	width: 100%;
	z-index:999;
}

.footerlist {
	justify-content: left;
}

.grid-item { width: 100%; 
}

.grid { width: 100%; 
}
.hidden-text {
	display: none;
}

.img {
	width:100%;
	float: left;
}

.logo {
	color: white;
	font-size: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.pfifty {
	width: 50%;
}

.pink {
	color: #e8d4d4;
}

.pointer {cursor: pointer;

}

.portfolio-center {
	width:100%;
	margin: auto;
}

.read-more {
	margin: auto;
}

.script {
	color: #e8d4d4;
}

.small {
	font-size: 18px;
	color: #93c9d3;
	text-transform: uppercase;
	text-align: center;
	font-family: futura-pt-bold, sans-serif;
}

.small:hover {
	color: #e8d4d4;
}

.telegram {
	width:50%;
	position: sticky;
	padding-top: 00px;
	margin: auto;
	float: left;
}

.text {
  color: #e8d4d4;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-bold, sans-serif;
}










	

#about {
	background-color: #eedaa5;
}

#about a {
	color: white;
}

#about a:hover {
	color: #93c9d3;
}

#about h2:hover {
	color: #93c9d3;
}

#angle-up {
	color: white; 
}	

#arrows {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	opacity: 0.5;
	padding-top: 15%;
}

#arrows a{
color: white;
}

#backtotop {
	font-size: 100px;
}

#booknow{
	padding: 20px 0 150px 0;
}

#booknow a{
	color: white;
}

#booknow a:hover {
	color: #e8d4d4;
}

#budapestabout{
	background-color: #93c9d3;
	padding-bottom: 90px;
}

#contact {
	background-color: #e8d4d4;
}	

#contact a {
	color: white;
}

#contact a:hover{
	color: #93c9d3;
}

#contact ul {
	padding: 15% 0 15% 0;
}

#filter-buttons {
	flex-direction: row;
	width: 40%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	padding: 150px 0 30px 0;
	z-index: -100;
	
}

#filter-buttons:hover {
	cursor: pointer;
}

figcaption:hover {
	color: #e8d4d4;
}

#flex{
	display: flex;
	width: 20%;
}

#flex ul{
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 14px;
	line-height: 34px;
}


#flexfooter{
	display: flex;
	height: 130px;
}

#flexcontainer {
	width: 90%;
	justify-content: flex-start;
	margin:auto;
	align-items: center; 
}


#flexleft{
	display: flex;
	width: 40%;
	text-align: left;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
}

#flexleft a{
	color: white;
}

#flex-parent figure{
	flex-basis: 1;
	padding-bottom: 150px;
}


#float {
	float: left;
	width:100%;
	padding-top: 20%;
}

#floathome {
	float: left;
	width:100%;
	padding-top: 30%;
}

#floatportfolio {
	float: left;
	width:100%;
	line-height: 450%;
}

#fontsize0 {
	font-size: 0;
}
#footer {
	background-color: #789e89;
	align-items: center; 
}

#footer li {
	color: white;
}

#footerright {
	justify-content: flex-end;
	flex:1;
	height: 130px;
	align-items: center; 
}

#footerright a{
	color: white;
}

#gif {
	float:left;
	width:100%;
}
 
#grid {
	background-image: url('../images/margot.jpg');
	 background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
		 padding-top: 55.69%;
		 z-index:100;
}


#header-portfolio {
	    width: 100%;
        height: 0;
        z-index:100;
		
}
#header-portfolio-apartment {
		background-image: url(../images/apartment2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 62.5%;
}

#header-portfolio-luce {
		background-image: url(../images/bar-luce5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 74.8%;
}


#header-portfolio-calcutta-cricket-club {
		background-image: url(../images/calcutta-cricket-club1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 62.5%;
}

#header-portfolio-house {
		background-image: url(../images/house5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 62.5%;
}

#header-portfolio-stadbad {
		background-image: url(../images/stadbad-gotha5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 77.76%;
}

#margot{
	background-color: #e8d4d4;
}

#nav {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
	z-index:500;
}

#nav a {
	font-size: 50px;
}

#nav-push {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
	
}

#navcontainer {
	position: fixed;
	top:50px;
	margin: auto;
	width: 100%;
	height: 200px;
	z-index: 500;
}


#navcontainer-portfolio {
	position: fixed;
	top:0px;
	margin: auto;
	width: 100%;
	height: 50px;
	z-index: 500;
	
}

#navcontainer-portfolio2 {
	background-color: #93c9d3;
}
#navcontainer-small {	
	top:50px;
	margin: auto;
	width: 100%;
	height: 150px;
	z-index: 1;
	
}

#portfolio-apartment {
	background-image: url(../images/portfolio-apartment.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 43.85%; 
}

#portfolio-apartment:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#portfolio-budapest {
	background-image: url(../images/portfolio-grandbudapest.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 43.85%; 
}

#portfolio-budapest:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#portfolio-barluce {
	background-image: url(../images/portfolio-barluce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 37.04%; 
}

#portfolio-barluce:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#portfolio-calcutta {
	background-image: url(../images/portfolio-calcutta.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 43.92%; 
}

#portfolio-calcutta:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#portfolio-house {
	background-image: url(../images/portfolio-house.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 43.92%; 
}

#portfolio-house:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#portfolio-stadbad {
	background-image: url(../images/portfolio-stadbad.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 40%; 
}

#portfolio-stadbad:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#readmore{
	padding: 20px 0 150px 0;
}


#workshopabout {
	background-color: #e8d4d4;
	padding-bottom: 150px;
}

#workshop-grid {
	padding: 100px 0 100px 0;	
	background-color; white;
}

#workshop-grid img:hover
{
	opacity: 0.3;
	filter: alpha(opacity=30);
}

#workshops {
	background-color: #93c9d3;
}

#wrapper {
	width: 100%;
	justify-content: center;
	z-index: -100;
}

#wrapper-portfolio {
	width: 100%;
	justify-content: center;
	z-index: -500;
	background-color: #93c9d3;
}



	













/*WIDE SCREEN SUPPORT*/
@media screen and (min-width: 769px) { 
    #header {
		background-image: url(../images/grandbudapest1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 62.59%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*MOBILE SUPPORT*/
@media screen and (max-width: 768px) {
    #header {
        background-image: url(../images/grandbudapest1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 62.59%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*WIDE SCREEN SUPPORT*/
@media screen and (min-width: 769px) { 
    #portfolio {
        background-image: url(../images/calcutta-cricket-club1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 62.5%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*MOBILE SUPPORT*/
@media screen and (max-width: 768px) {
    #portfolio {
        background-image: url(../images/calcutta-cricket-club1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 62.5%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}
/*WIDE SCREEN SUPPORT*/
@media screen and (min-width: 769px) { 
    #newsletter {
        background-image: url(../images/stadbad-gotha5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 77.76%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*MOBILE SUPPORT*/
@media screen and (max-width: 768px) {
    #newsletter {
        background-image: url(../images//stadbad-gotha5.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 77.76%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}


/*WIDE SCREEN SUPPORT*/
@media screen and (min-width: 769px) { 
    #budapest1 {
		background-image: url(../images/grandbudapest1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 66.69%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*MOBILE SUPPORT*/
@media screen and (max-width: 768px) {
    #budapest1{
        background-image: url(../images/grandbudapest1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 66.69%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*WIDE SCREEN SUPPORT*/
@media screen and (min-width: 769px) { 
    #budapest1 {
		background-image: url(../images/grandbudapest1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 66.69%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*MOBILE SUPPORT*/
@media screen and (max-width: 768px) {
    #budapest1{
        background-image: url(../images/grandbudapest1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 66.69%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}


/*WIDE SCREEN SUPPORT*/
@media screen and (min-width: 769px) { 
    #workshopspage {
		background-image: url(../images/workshop1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 66.69%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}

/*MOBILE SUPPORT*/
@media screen and (max-width: 768px) {
    #workshop1{
        background-image: url(../images/workshop1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 66.69%; /* (img-height / img-width * container-width) */
                    /* (853 / 1280 * 100) */
    }
}


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: white;
  color: white;
  font-family: "Furuta PT", sans-serif;
}

a
{
  text-decoration: none;
  color: #e8d4d4;
  transition: color 0.3s ease;
}

a:hover
{
  color: #93c9d3;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  right: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -340px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(150%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


<style>
  @import url("https://use.typekit.net/xnx6xuw.css");
</style>


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}